<li><a href="<%= Routes.home_path(@conn, :index) %>">Home</a></li>
<li><a href="<%= Routes.about_path(@conn, :index) %>">Quem somos</a></li>
<li><a href="#">Apartamentos</a></li>
<li><a href="#">Casas</a></li>
<li><a href="#">Lotes</a></li>
<li><a href="#">Fale conosco</a></li>
