<!doctype html>
<html class="no-js" lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="Construtora LC Hiert - Venda de imóveis: casas, apartamentos e lotes em Toledo - PR.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= page_title(@conn) %></title>

  <link rel="shortcut icon" type="image/x-icon" href="<%= Routes.static_path(@conn, "/favicon.ico") %>">
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">

  <%= open_graph(@conn) %>
</head>

<body data-js-view-path="<%= js_view_path(@conn) %>">
  <!--[if lt IE 8]>
    <p class="browserupgrade">Você está usando um navegador muito antigo. Por favor, <a href="http://browsehappy.com/">atualize seu navegador</a> para ter uma melhor experiência.</p>
  <![endif]-->

  <div class="wrapper">
    <%= render(ConstrutoraLcHiertWeb.SharedView, "_header.html", assigns) %>

    <%= render @view_module, @view_template, assigns %>

    <%= render(ConstrutoraLcHiertWeb.SharedView, "_footer.html", assigns) %>
  </div>

  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>
