/* -----------------------------------
  call-to-action-area
----------------------------------- */
.call-to-bg {
    position: relative;
}
.call-to-bg:before,
.call-to-bg:after {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
}
.call-to-bg:before {
    background: #95c41f none repeat scroll 0 0;
    left: 0;
    margin-left: -100px;
    -webkit-transform: skewX(-30deg);
    transform: skewX(-30deg);
    width: 31%;
}
.call-to-bg:after {
    background: rgba(31, 34, 62, 0.8) none repeat scroll 0 0;
    height: 100%;
    right: 0;
    width: 100%;
    z-index: -1;
}

/* -----------------------------------
  booking-area
----------------------------------- */
.booking-area .section-title {
    margin-top: 15px;
}
.booking-conternt {
    margin: auto;
    width: calc(100% - 80px);
}
.book-house {
    float: left;
    width: 80%;
}
.book-house h2 {
    font-size: 30px;
    margin-bottom: 0;
}
.book-house h2 + h2 {
    margin-top: 20px;
}
.booking-imgae {
    float: left;
    margin-top: -100px;
    width: 20%;
}
.booking-imgae img {} .booking-imgae {
    margin-top: -100px;
}

/* -----------------------------------
 Find home area
----------------------------------- */
.find-home-area .section-title {
    margin-top: 28px;
}
.find-homes {
    margin: auto;
    width: calc(100% - 70px);
}
.find-home-item {
    margin-bottom: 40px;
}
.find-home-item input {
    color: #fff;
    margin-bottom: 0;
}
.find-home-item input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #999;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.find-home-item input::-moz-placeholder {
    /* Firefox 19+ */
    color: #999;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.find-home-item input:-ms-input-placeholder {
    /* IE 10+ */
    color: #999;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.find-home-item input:-moz-placeholder {
    /* Firefox 18- */
    color: #999;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.find-home-item.custom-select button {
    font-family: 'montserrat';
    font-weight: 300;
}

/* -----------------------------------
  Services area
----------------------------------- */
.service-item {
    margin-bottom: 60px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.service-item-image img {
    width: 100%;
}
.service-item-info {
    background: #f5f5f5 none repeat scroll 0 0;
    padding: 26px 15px 10px;
}
.service-item:hover {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

/* -----------------------------------
  Featured property area
----------------------------------- */
.flat-item {
    margin-bottom: 20px;
    overflow: hidden;
}
.flat-item-image {
    position: relative;
}
.flat-item-image:before {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 100%;
    z-index: 1;
}
.flat-item:hover .flat-item-image:before {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
}
.flat-item-image > a {
    display: block;
}
.flat-item-image > a > img {
    width: 100%;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
    width: 360px;
    height: 289px;
    object-fit: cover;
}
.flat-item:hover .flat-item-image > a > img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.flat-link {
    left: 0;
    margin-top: -15px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    z-index: 2;
}
.flat-item:hover .flat-link {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
}
.flat-link > a {
    border: 1px solid #fff;
    color: #fff;
    font-family: "montserrat";
    font-size: 14px;
    font-weight: normal;
    padding: 9px 12px 10px;
    text-transform: uppercase;
}
.flat-link > a:hover {
    background: #95c41f none repeat scroll 0 0;
    border: 1px solid #95c41f;
    color: #fff;
}

.flat-desc > li {
    display: inline-block;
}
.flat-desc {
    background: #1f223e none repeat scroll 0 0;
    color: #bababa;
    padding: 15px 0;
    position: relative;
    text-align: center;
    z-index: 2;
}
.flat-desc > li + li {
    margin-left: 10%;
}
.flat-desc li img {
    margin-right: 10px;
}

.flat-item-info {
    padding: 15px 0;
}
.flat-title-price {
    overflow: hidden;
    padding-bottom: 5px;
}
.price {
    color: #95c41f;
    font-family: "montserrat";
    font-size: 22px;
    font-weight: 400;
}
.flat-title-price .price {
    float: right;
    line-height: 1;
}
.flat-title-price h5 {
    float: left;
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 180px;
}
.flat-item-info img {
    margin-right: 10px;
}
.flat-item-info > p {
    font-size: 15px;
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* -----------------------------------
  Subscribe area
----------------------------------- */
.subscribe {
    margin: 0 auto;
    position: relative;
    width: calc(100% - 90px);
}

.subscribe-area .coming-home {
    position: absolute;
    width: 80%;
    top: -135px;
    color: #1f223e;
}

.subscribe-area .section-title {
    margin-top: 32px;
}

.subscribe-area .section-title h4 {
    color: #fff;
    margin-bottom: 0;
}

.subscribe-area .section-title h3 {
    font-weight: 700;
    font-size: 28px;
}

.subscribe p.subscribe-title {
    color: #fff;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.subscribe input {
    float: left;
    margin-bottom: 0;
    width: 70%;
}

.subscribe input::placeholder {
    color: #808080;
}

.subscribe button {
    background: #95c41f none repeat scroll 0 0;
    height: 40px;
    margin: 0 0 0 -4px;
    padding: 0 35px;
    color: #fff;
    text-transform: uppercase;
}

.subscribe-response {
    color: #ff7f00;
    margin: 20px 0 0;
    font-size: 16px;
}

.button-1 {
    background: #95c41f none repeat scroll 0 0;
    border: 1px solid #95c41f;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 5px 18px;
    text-align: center;
}
.button-1:focus {
    color: #fff;
}
.btn-hover-1:hover {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.button-2 {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #1f223e;
    color: #1f223e;
    display: inline-block;
    font-size: 14px;
    padding: 5px 18px;
    text-align: center;
}
.btn-hover-2:hover {
    background: #ff7f00;
    border: 1px solid #ff7f00;
    color: #fff;
}

/* -----------------------------------
  About-area
----------------------------------- */
.about-image {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.about-image img {
    width: 100%;
}
.about-image:hover {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

/* -----------------------------------
  Pagination area
----------------------------------- */
.pagination-list > li {
    display: inline-block;
}

.pagination-list > li + li {
    margin-left: 20px;
}

.pagination-list > li a {
    background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 50%;
    color: #606060;
    display: block;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}

.pagination-list > li[disabled] a {
    opacity: .4;
    pointer-events: none;
}

.pagination-list > li.active a {
    background-color: #e0e0e0;
    color: #404040;
}

.pagination-list > li a i {
    font-weight: 700;
    line-height: 40px;
}

.pagination-list > li a:hover {
    color: #fff;
}

/* -----------------------------------
  Properties-details-area
----------------------------------- */
.pro-details-big-image {
    margin-bottom: 10px;
}
.pro-details-big-image img {
    width: 760px;
    height: 389px;
    object-fit: cover;
}
.pro-details-carousel {
    margin: 0 -5px;
}
.pro-details-item {
    padding: 0 5px;
    width: 100%;
}
.pro-details-item img {
    width: 100%;
    max-width: 180px;
    height: 115px;
    object-fit: cover;
}

.pro-details-condition h5,
.pro-details-amenities h5 {
    margin-bottom: 40px;
}

.condition-list > li {
    color: #606060;
    display: inline-block;
    font-weight: 300;
    margin-bottom: 20px;
    width: 49%;
}
.condition-list li img {
    margin-right: 10px;
}
.pro-details-condition-inner {
    padding: 35px 10px 20px 25px;
}
.pro-details-condition-inner > p > img {
    margin-right: 10px;
}

.amenities-list > li {
    display: inline-block;
    font-weight: 300;
    margin-bottom: 10px;
    position: relative;
    width: 49%;
}
.amenities-list > li > img {
    margin-right: 3px;
}
.amenities-list {
    padding: 30px 10px 15px 25px;
}

.leave-review > h5 {
    margin-bottom: 40px;
}
.leave-review input,
.leave-review textarea {
    background: #fafafa none repeat scroll 0 0;
    margin-bottom: 20px;
}
.leave-review textarea {
    height: 185px;
}
.submit-btn-1 {
    background: #95c41f none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    padding: 5px 30px 6px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.submit-btn-1:hover {
    background: #1f223e none repeat scroll 0 0;
}

/* -----------------------------------
  widget
----------------------------------- */
.widget {
    padding-left: 30px;
}
.col-md-pull-8 .widget {
    padding-left: 0px;
    padding-right: 30px;
}
.widget > h5 {
    border-bottom: 1px solid #cccccc;
    color: #303030;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
.widget-categories > h5,
.widget-recent-post > h5,
.widget-archive > h5,
.widget-latest-tweets > h5 {
    margin-bottom: 5px;
}


.widget-search-property .find-home-item {
    margin-bottom: 20px;
}
.widget-search-property .find-home-item input {
    color: #606060;
}
.widget-search-property .find-home-item input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #606060;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.widget-search-property .find-home-item input::-moz-placeholder {
    /* Firefox 19+ */
    color: #606060;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.widget-search-property .find-home-item input:-ms-input-placeholder {
    /* IE 10+ */
    color: #606060;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.widget-search-property .find-home-item input:-moz-placeholder {
    /* Firefox 18- */
    color: #606060;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.widget-search-property .bootstrap-select > .dropdown-toggle {
    color: #606060;
}
.widget-search-property .btn-hover-1:hover {
    background: #1f223e none repeat scroll 0 0;
    border: 1px solid #1f223e;
    color: #fff;
}

.widget-featured-property .col-xs-12:last-child .flat-item {
    margin-bottom: 0;
}
.widget-featured-property .flat-desc > li + li {
    margin-left: 7%;
}

.widget-search form {
    position: relative;
}
.widget-search input {
    padding-right: 50px;
}
.widget-search button {
    height: 40px;
    position: absolute;
    right: 0;
    width: 50px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.widget-search button:hover {
    background: #95c41f;
    color: #fff;
}

.widget-categories-list > li,
.widget-archive-list > li {
    border-bottom: 1px solid #f2f2f2;
    padding: 12px 0 2px;
}
.widget-categories-list a,
.widget-archive-list a {
    font-weight: 300;
}
.widget-categories-list span {
    float: right;
}

.contact-address > li + li {
    padding-top: 20px;
}
.contact-address > li {
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
}
.contact-address-icon {
    float: left;
    width: 25px;
}
.contact-address-info {
    float: left;
    padding-left: 10px;
}
.contact-address-info > span {
    display: block;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}
.contact-address > li:before {
    background: #c2c2c2 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 30%;
}
.contact-address > li:last-child:before {
    display: none;
}

.contact-bg {
  background: rgba(0, 0, 0, 0.1) url('https://ik.imagekit.io/ricardoruwer/lchiert/images/bg/contact.jpg') no-repeat scroll right center / cover;
}

.contact-messge {
    padding: 50px;
}
.contact-messge .leave-review input,
.contact-messge .leave-review textarea {
    background: rgba(250, 250, 250, 0.6) none repeat scroll 0 0;
    margin-bottom: 20px;
}

#googleMap {
    height: 540px;
    width: 100%;
}

.contact-messge {
    position: relative;
}
.contact-messge:before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.leave-review {
    z-index: 2;
    position: relative;
}

/* =======================
  bootstrap-select
======================= */
.bootstrap-select > .dropdown-toggle {
  background: transparent none repeat scroll 0 0;
  color: #fff;
  height: 40px;
  padding-right: 25px;
  width: 100%;
  z-index: 1;
}

.custom-select .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
  display: inline-block;
  font-size: 12px;
}

/* =======================
  SVG icons
======================= */
.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  vertical-align: -.15em;
  width: 1em;
}

.pagination-list .icon {
  height: 16px;
  width: 16px;
}

.contact-address-icon .icon {
  height: 25px;
  width: 25px;
}

.flat-desc .icon {
  height: 22px;
  width: 22px;
}

.flat-item-info .icon {
  height: 16px;
  width: 16px;
}

.condition-list .icon {
  height: 22px;
  width: 22px;
}

.amenities-list .icon {
  height: 14px;
  width: 14px;
}

.address-icon .icon {
  height: 18px;
  width: 18px;
}

.header-icon .icon {
  height: 30px;
  width: 30px;
}

.header-search .icon {
  height: 26px;
  width: 26px;
}

.no-results .icon {
  width: 38px;
  height: 38px;
}

.carousel-paginator {
  position: relative;
}

.slick-controls .previous, .slick-controls .next {
  position: absolute;
  width: 28px;
  height: 28px;
  top: calc(50% - 14px);
  color: #3b5265;
  cursor: pointer;
  z-index: 999;
}

.slick-controls .previous {
  left: -28px;
}

.slick-controls .next {
  right: -28px;
}
