/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.help-block {
  color: #FF9494;
  font-size: 12px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*
 * Margins
 */
.mb-20 {
  margin-bottom: 20px;
}

/*
 * SVG icons
 */
.icon {
  width: 15px;
  height: 15px;
  fill: currentColor;
  vertical-align: -.15em;
  display: inline-block;
}

.icon.active {
  color: #6AC259;
}

.icon.inactive {
  color: #E04F5F;
}

a:hover .icon {
  opacity: .7;
}

a:hover .icon.delete {
  color: #f44336;
}

/*
 * Edit images
*/
.edit-images {
  margin-top: 50px;
}

.edit-images img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.edit-images img.featured {
  border: 5px solid #337ab7;
}

/*
 * Dropdown menu
 */
.dropbtn {
  background-color: #eceff1;
  border-radius: 50%;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #cfd8dc;
}

.dropdown {
  display: inline-block;
  position: absolute;
  right: 11px;
  top: -4px;
  height: 26px;
  width: 26px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
  z-index: 1;
}

.dropdown-content a {
  color: #111;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd
}

.show {
  display: block;
}

.dropdown .icon {
  padding: 5px;
  width: 100%;
  height: 100%;
  color: #666;
}

.dropdown .delete {
  background-color: #ffebee;
}

.dropdown .delete:hover {
  background-color: #ffcdd2;
}

/*
 * Filter buttons
 */
.filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  border-top: 1px solid #eee;
  padding-top: 5px
}

.filters .filter-box.head {
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 16px;
  margin: 2px 0 8px;
}

.filters .filter-box.title {
  padding: 4px 6px;
  border: 1px solid #eee;
  border-bottom: 0;
  background-color: #f5f5f5;
}

.filters .filter-box.body {
  border: 1px solid #eee;
  padding: 6px;
}

.filters .filter-box.clear {
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: end;
  margin-top: 5px;
}

.filters .btn {
  margin-bottom: 5px;
}

.filters .btn:focus {
  outline: 0;
}

.filters .btn.remove {
  background: none;
  border: 0;
  color: #d9534f;
}

.filters .btn.remove:hover {
  color: #c9302c;
}
