<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="Construtora LC Hiert - Venda de imóveis: casas, apartamentos e lotes em Toledo - PR.">
  <meta content="width=device-width, initial-scale=1" name="viewport" />

  <title>Erro! - Construtora LC Hiert</title>

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

  <style>
    @import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Merriweather', sans-serif;
      font-weight: 400;
    }

    html {
      font-size: 62.5%;
    }

    main {
      display: grid;
      justify-content: center;
      align-content: center;
      justify-items: center;
      align-items: center;
      height: 100vh;
      background: url('/images/errors/500.jpg');
      background-repeat: repeat-x;
      background-size: cover;
      background-position: left top;
    }

    h1 {
      font-size: 13rem;
      font-weight: 600;
      color: #fff;
      text-shadow: 3px 3px 12px rgba(0, 0, 0, .3);
    }

    h2 {
      font-size: 2.6rem;
      margin: 2rem;
      color: #fff;
      text-align: center;
      text-shadow: 3px 3px 8px rgba(0, 0, 0, .5);
    }

    .house {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 12rem;
      height: 12rem;
    }

    a {
      display: inline-block;
      position: relative;
      margin-top: 3rem;
      padding: 1rem 2rem;
      border: 1px solid #912c2c;
      border-radius: 10rem;
      color: white;
      text-decoration: none;
      letter-spacing: 2px;
      font-size: 1.1rem;
      background-color: rgba(252, 78, 80, .3);
      -webkit-transition: all .3s ease-in;
      -moz-transition: all .3s ease-in;
      -ms-transition: all .3s ease-in;
      -o-transition: all .3s ease-in;
      transition: all .3s ease-in;
    }

    a:hover {
      background-color: #fc4e50;
      color: #fff;
      transform: scale(1.05);
      box-shadow: 0 2rem 2rem rgba(0, 0, 0, .1);
    }
  </style>
</head>

<body>
  <main>
    <h1>500</h1>
    <h2>Ocorreu um problema! Mas já estamos tentando resolver.</h2>

    <a href="/">Tentar novamente</a>

    <svg class="house"><use xlink:href="/images/icons.svg#house-fire"></use></svg>
  </main>
</body>
</html>
