<h1 class="page-header">Cadastrar Usuário</h1>

<a href="<%= Routes.admin_user_path(@conn, :index) %>" class="btn btn-default mb-20">
  Voltar
</a>

<%= render("_form.html", Map.put(assigns, :action, Routes.admin_user_path(@conn, :create))) %>
